<input type="text" ([ngModel])="carName"><button class="btn-secondary" (click)="addCar()">Add</button>
<p *ngIf="carStatus; else lol">car added</p>
<ng-template #lol>car not aded</ng-template>

<div *ngFor="let car of cars; let i = index">
  <span [ngStyle]="{backgroundColor: (i + 1) % 2 === 0 ? 'red': 'green', 'color':'white'}"
  [ngClass]="{'kek': car.length > 3 ? true : false}"
  >{{car}}</span>
</div>

<div *ngFor="let item of items">
  {{item | uppercase}}
</div>

<!--<hr>-->

<!--<input type="text" class="form-control" #myInput (input)="onKeyUp(myInput.value)">-->

<!--<input type="text" class="form-control" [(ngModel)]="input">-->

<!--<p>{{input}}</p>-->
